<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>게시판 리스트</title>
</head>
<body>
<div >
    <div>
        <a href="/board/new">상품 등록</a>
        <table border="1">
            <thead>
            <tr>
                <th>#</th>
                <th>제목</th>
                <th>내용</th>
                <th></th>
            </tr>
            </thead>
            <tbody> <tr th:each="board : ${boards}">
                <td th:text="${board.id}"></td>
                <td th:text="${board.title}"></td>
                <td th:text="${board.content}"></td>
                <td>
                    <a href="#" th:href="@{/board/{id}/edit (id=${board.id})}"
                       role="button">수정</a>
                </td>
                <td>
                    <form id="deleteMember" th:action="@{/board/{id}/remove (id=${board.id})}" method="post">
                        <input type="hidden" name="_method" value="delete"/>
                        <button>삭제</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>