.title{
    font-size: 50px;
    text-align: center;
    color: cadetblue;
    margin-top: 100px;
    margin-bottom: 100px;
}
.main__board{
    margin-top: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: auto;
}
.main__board__item{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
    
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: rgb(73, 73, 73);
}
button,.button__{
    margin-left: 5px;
    border: none;
    background-color:rgb(227, 239, 250);
}